.Banner {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: rgb(60, 60, 60);
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    background-color: rgb(26, 27, 30);
}

.LoginLinkDiv {
    border-style: solid;
    border-color: rgb(60, 60, 60);
    border-width: 1px;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 20px;
    background-color: rgb(216, 218, 220);
    color: black;
}

.LoginLinkDiv:hover {
    background-color: rgb(196, 198, 200);
}

.LoginLinkDiv:active {
    background-color: rgb(176, 178, 180);
}
