.Feed {
    width: 50%;
    margin: 0 auto
}

.Create {
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: rgb(26, 27, 30) !important;
    display: flex !important;
    align-items: center !important;
}

.CreateInput {
    width: 100%;
    margin-left: 15px;
}