.Title {
    color: whitesmoke;
    width: 120px;
    text-align: center;
    display: inline-block;
    margin-left: calc(12.5% - 60px) !important;
    margin-right: calc(12.5% - 60px) !important;
    border-radius: 3px;
    padding: 3px !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.a {
    text-decoration: none;
    color: whitesmoke;
}
