.VoteSymbol {
    display: block;
    color: rgb(129, 131, 132) !important;
    border-radius: 2px;
    cursor: pointer;
}

.VoteSymbol:hover {
    background-color: rgb(45, 45, 46) !important;
}

.Vote {
    margin-top: 3px;
    float: left;
    vertical-align: middle;
    margin-right: 12px;
}