.AppLink {
    display: inline-block;
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    color: rgb(129, 131, 132) !important;
    font-size: 14px;
    border-radius: 3px;
}

.AppLink:hover {
    background-color: rgb(45, 45, 46) !important;
}

.Element {
    padding-right: 4px;
    vertical-align: middle;
}
