.SignUpPanel {
    padding: 25px;
    display: inline;
}

.InputWrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.Title {
    width: 320px;
    text-align: left;
}

.Text {
    color: rgb(109, 111, 112) !important;
    text-align: left;
}
