.Page {
    border-radius: 5px;
    margin: 5px;
    background-color: rgb(44,46,51);
    line-height: 30px;
    width: 30px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    color: whitesmoke;
}