.Title {
    margin: 10px;
}

.Editor {
    margin: 10px;
    margin-bottom: 25px;
}

.SubmitButton {
    margin: 10px;
    margin-bottom: 15px;
    float: right;
}

.DraftButton {
    margin: 10px;
    margin-bottom: 15px;
    float: right;
}

.ButtonWrapper {
    height: calc(36px + 10px + 15px);
}